PORT=
DATABASE_URL=
BETTER_AUTH_URL=
WEB_CLIENT_HOST=
BETTER_AUTH_SECRET=
RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIS_URL=
SERVER_URL=
DEV_NOTIFICATION_EMAIL=
INTERNAL_API_KEY=
MATCH_ENGINE_URL=
